.moving-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 120px;
    margin: -60px 0 0 -150px;
    perspective: 1000px;
}

.popup {
    position: absolute;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px 0px 30px 0px;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, rgba(19, 133, 127, 0.548) 50%, rgba(19, 133, 127, 0.548) 50%);
    background: -moz-linear-gradient(top left, rgba(19, 133, 127, 0.548) 50%, rgba(19, 133, 127, 0.548) 50%);
    background: -ms-linear-gradient(top left, rgba(19, 133, 127, 0.548) 50%, rgba(19, 133, 127, 0.548) 50%);
    background: -o-linear-gradient(top left, rgba(19, 133, 127, 0.548) 50%, rgba(19, 133, 127, 0.548) 50%);
    background: linear-gradient(top left, rgba(19, 133, 127, 0.548) 50%, rgba(19, 133, 127, 0.548) 50%);
    box-shadow: 0px 0px 50px 0px rgba(0, 49, 49, 0.514);
    filter: brightness(95%);
}

.popup:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: inherit;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, .1);
    transform: translateZ(-100px);
}

.popup-content {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px 0px 30px 0px;
}

.popup-text {
    text-align: center;
    transform: translateZ(15px);
    padding-top: 20px;
    padding-bottom: 20px;
}

.rii-logo {
    filter: brightness(90%);
}