*,
:after,
:before {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;

	background-color: #fff;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

p,
h1,
h2 {
	line-height: 1.3;
	text-shadow: 0 0 5px rgba(0, 0, 0, .6);
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', helvetica, arial;
	font-size: 18px;
	font-weight: 300;
}

section {
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
}

.section_1 {
	/* border-top: 10px solid #fff; */

}

.brd-top {
	/* border-top: 10px solid #fff; */
}

.section_3 {

	border-top: 15px solid #fff;
}

p {
	font-size: 1em;
}

p.p--credits {
	font-size: .9em;
}

h1,
h2 {
	font-size: 1.5em;
	font-weight: 700;
}

a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

a.a--no-weight {
	font-weight: 300;
}

.lol {
	border-radius: 200px !important;
	border: 3px solid rgb(134, 134, 134);
	width: 200px;
	height: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lol1 {
	border-radius: 300px !important;
	border: 3px solid rgb(252, 252, 252);
	width: 300px;
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.container {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 15px;
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container--big {
	height: 175vh;
}

.container--full {
	height: 100vh;
}

.container--small {
	height: 40vh;
}

.container .content {
	background: rgba(0, 0, 0, .6);
	border-radius: 3px;
	color: #fff;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
}

.section_11 {
	background-color: #362F2D;
	border-bottom: 15px solid #fff;
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.parallax__container .parallax {
	/* can be put in a seperate class for better control */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* --------------------------- */
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 100%;
}

.bg1 {
	background-image: url("../img/bg1.jpg");
}

#bg3 {
	background-image: url("../img/bg3.jpg");
}

#bgadocean {
	background-image: url("../img/bgaaa.png");
	background-size: contain;
	background-position: center;
}

#bgadocean2 {
	background-image: url("../img/970x250-b.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: repeat-y;
	height: auto;
}

.show-on-mobile--inline {
	display: none;
}

@media screen and (max-width: 480px) {
	.hide-on-mobile {
		display: none;
	}

	.show-on-mobile--inline {
		display: inline;
	}
}

.this_content {
	background-color: #fff;
	height: 200px;
}

.this_content_inner {
	display: flex;
	height: 100%;
	background-color: #362F2D;
	width: 100%;
}

.nes {
	flex-direction: row;
	display: flex;
	background-color: #362F2D;
	height: 100%;
	width: 100%;
	flex: 10;
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: -5px;
}

.nes2 {
	background-color: rgb(173, 173, 173);
	display: flex;
	height: 100%;
	width: 100%;
	margin: 5px;

}

.nes_inner {
	background-color: rgb(173, 173, 173);
	display: flex;
	height: 100%;
	flex: 2;
	margin: 5px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	transition: ease-in .2s;
}

.content {
	box-shadow: 0 0 50px 0 #00000052;
}

.adoceanp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.test {
	text-align: center;

}

.section_last {
	border-top: 15px solid #fff;
	max-height: 400px;
	overflow: hidden;

}

.lole {
	max-height: 400px !important;


}

.sad {
	margin-top: -15px;
	overflow: hidden;
	height: auto;
}

.sad2 {
	overflow: hidden;
	color: #fff;
	text-align: justify;
}

.b1 {
	background-color: rgb(192, 63, 27);
}

.b2 {
	background-color: rgb(83, 126, 35);
}

.b3 {
	background-color: rgb(63, 97, 150);
}

.b4 {
	background-color: rgb(143, 40, 146);
}

.b5 {
	background-color: rgb(127, 146, 22);
}

.nes_inner:hover {
	background-color: rgb(187, 187, 187);
	transition: ease-in .2s;
	cursor: pointer;
}